version: '3'
services:
  web:
    container_name: marielle-web
    image: marielle/marielle
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"  
    depends_on: [db]

  db:
    container_name: marielle-db
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
    - 5432:5432
    restart: always