<h1>Cadastro de novas ocorrecencias</h1>
<div class="form">
    <div class="form-header">
        <h1>Registro</h1>
    </div>
    <div class="form-content">
        <%= render 'form', raw_registros_ocorrencias_ssp_sp_gov_br: @raw_registros_ocorrencias_ssp_sp_gov_br %>
    </div>
</div>
<%= link_to 'Back', raw_registros_ocorrencias_ssp_sp_gov_brs_path %>
