<h1>Cadastro dos grupos reflexivos</h1>
<div class="form">
  <div class="form-header">
  </div>
  <div class="form-content">
    <%= render 'form', registros_grupos_reflexivos: @registros_grupos_reflexivos %>
  </div>
</div>
<%#= link_to 'Back', registros_grupos_reflexivo_path %>