/*
*= depend_on variables.scss
*= depend_on grid.scss
*= depend_on navbar.scss
*= depend_on forms.scss
*= depend_on tables.scss
*= depend_on buttons.scss
*/

// CSS Reset
@import "reset.scss";

// Core
@import "variables.scss";

//Grid and page structure
@import "grid.scss";

// Patterns and elements
@import "navbar.scss";
@import "forms.scss";
@import "tables.scss";
@import "buttons.scss";

body {
    font: normal 1rem "Fira Sans", "Helvetica Neue", sans-serif;
    background: $primaryColor;
    color: white;
}

.icon {
    height: $fontSize;
    margin-right: .5rem;
}

h1 {
    font-size: $titleSize;
    color: $highlightColor;
    padding: .5rem 0;
}

h2 {
    font-size: $subtitleSize;
    color: $highlightColor;
    padding: 1rem 0 .5rem .5rem;
}