/*
*= depend_on variables.scss
*= depend_on scaffolding.scss
*= depend_on navbar.scss
*= depend_on forms.scss
*/

// CSS Reset
@import "reset.scss";

// Core
@import "variables.scss";

//Grid and page structure
@import "scaffolding.scss";

// Patterns and elements
@import "navbar.scss";
@import "forms.scss";

body {
    font: normal 1rem "Fira Sans", "Helvetica Neue", sans-serif;
    background: $primaryColor;
    color: white;
}

.icon {
    height: $fontSize;
    margin-right: .5rem;
}

h1 {
    font-size: $titleSize;
    color: $highlightColor;
}