@import "variables.scss";

.form {
    margin: 1.5rem;
}

.form-header {
    padding-bottom: 1rem;
}

.form-content * {
    box-sizing: border-box;
}

.flex-outer {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer li label + *,
.flex-outer li div.field_with_errors:last-child {
    flex: 3 0 220px;
}

.flex-outer li label,
.flex-outer li div.field_with_errors:first-child {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li select {
    padding: .7rem;
    border: 1px solid $highlightColor;
    border-radius: 6px;
    background: $lightColor;
    width: 100%;
}

.flex-outer li select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
}

.flex-outer li.form-submit input {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: $highlightColor;
    color: $lightColor;
    text-transform: uppercase;
    letter-spacing: .06em;
    border-radius: 4px;
}

.flex-outer li.form-submit input:hover {
    cursor: pointer;
}

#error_explanation {
    border: 2px solid $highlightColor;
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: $red;
    color: $highlightColor;
    font-weight: 500;
}

.field_with_errors input:not([type='checkbox']),
.field_with_errors select {
    border: 2px solid $red !important; 
}