@import "variables.scss";

.table {
    margin: 1rem;
}

table {
    margin: .3rem 0;
}

th, td {
    border: solid 1px $highlightColor;
    padding: .5rem;
}

th {
    color: $highlightColor;
    background-color: $lightColor;
}