<p id="notice"><%= notice %></p>
<h1>Vítimas</h1>
<br><br><br>
Vítimas femininas
<div>
  <iframe
    title="female_victims"
    width="1200"
    height="400"
    seamless
    frameBorder="0"
    scrolling="no"
    src="https://marielle-superset.herokuapp.com/superset/explore/?form_data=%7B%22queryFields%22%3A%7B%22groupby%22%3A%22groupby%22%2C%22metrics%22%3A%22metrics%22%7D%2C%22datasource%22%3A%221__table%22%2C%22viz_type%22%3A%22table%22%2C%22slice_id%22%3A10%2C%22url_params%22%3A%7B%7D%2C%22time_range_endpoints%22%3A%5B%22inclusive%22%2C%22exclusive%22%5D%2C%22time_grain_sqla%22%3Anull%2C%22time_range%22%3A%22No+filter%22%2C%22query_mode%22%3A%22raw%22%2C%22groupby%22%3A%5B%5D%2C%22metrics%22%3A%5B%22count%22%5D%2C%22all_columns%22%3A%5B%22NOMEPESSOA%22%2C%22RUBRICA%22%2C%22ESPECIE%22%2C%22TIPOPESSOA%22%2C%22VITIMAFATAL%22%2C%22PROFISSAO%22%2C%22CORCUTIS%22%2C%22RELACIONAMENTO%22%5D%2C%22percent_metrics%22%3A%5B%5D%2C%22order_by_cols%22%3A%5B%22%5B%5C%22NOMEPESSOA%5C%22%2C+true%5D%22%5D%2C%22row_limit%22%3A10000%2C%22order_desc%22%3Atrue%2C%22adhoc_filters%22%3A%5B%7B%22clause%22%3A%22WHERE%22%2C%22comparator%22%3A%22Feminino%22%2C%22expressionType%22%3A%22SIMPLE%22%2C%22filterOptionName%22%3A%22filter_om2wg87pfn_s463x79mokp%22%2C%22isExtra%22%3Afalse%2C%22isNew%22%3Afalse%2C%22operator%22%3A%22%3D%3D%22%2C%22sqlExpression%22%3Anull%2C%22subject%22%3A%22SEXO%22%7D%5D%2C%22table_timestamp_format%22%3A%22smart_date%22%2C%22color_pn%22%3Atrue%2C%22show_cell_bars%22%3Atrue%7D&standalone=true&height=400"
  >
  </iframe>
</div>
<br><br>
Vítimas masculinas
<div>
  <iframe
    title="male_victims"
    width="1200"
    height="400"
    seamless
    frameBorder="0"
    scrolling="no"
    src="https://marielle-superset.herokuapp.com/superset/explore/?form_data=%7B%22queryFields%22%3A%7B%22groupby%22%3A%22groupby%22%2C%22metrics%22%3A%22metrics%22%7D%2C%22datasource%22%3A%221__table%22%2C%22viz_type%22%3A%22table%22%2C%22slice_id%22%3A9%2C%22url_params%22%3A%7B%7D%2C%22time_range_endpoints%22%3A%5B%22inclusive%22%2C%22exclusive%22%5D%2C%22time_grain_sqla%22%3Anull%2C%22time_range%22%3A%22No+filter%22%2C%22query_mode%22%3A%22raw%22%2C%22groupby%22%3A%5B%5D%2C%22metrics%22%3A%5B%22count%22%5D%2C%22all_columns%22%3A%5B%22NOMEPESSOA%22%2C%22RUBRICA%22%2C%22ESPECIE%22%2C%22TIPOPESSOA%22%2C%22VITIMAFATAL%22%2C%22PROFISSAO%22%2C%22CORCUTIS%22%2C%22RELACIONAMENTO%22%5D%2C%22percent_metrics%22%3A%5B%5D%2C%22order_by_cols%22%3A%5B%22%5B%5C%22NOMEPESSOA%5C%22%2C+true%5D%22%5D%2C%22row_limit%22%3A10000%2C%22order_desc%22%3Atrue%2C%22adhoc_filters%22%3A%5B%7B%22clause%22%3A%22WHERE%22%2C%22comparator%22%3A%22Masculino%22%2C%22expressionType%22%3A%22SIMPLE%22%2C%22filterOptionName%22%3A%22filter_fc27guyit29_46waemwoaqx%22%2C%22isExtra%22%3Afalse%2C%22isNew%22%3Afalse%2C%22operator%22%3A%22%3D%3D%22%2C%22sqlExpression%22%3Anull%2C%22subject%22%3A%22SEXO%22%7D%5D%2C%22table_timestamp_format%22%3A%22smart_date%22%2C%22color_pn%22%3Atrue%2C%22show_cell_bars%22%3Atrue%7D&standalone=true&height=400"
  >
  </iframe>
</div>